<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866150771085-dt54ip6986avb6ifr0n1rn87lmqk8nao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866150771085-dt54ip6986avb6ifr0n1rn87lmqk8nao</string>
	<key>API_KEY</key>
	<string>AIzaSyALiT2XSXu0o6nLtlbpz-3SpwNRhWuEIQs</string>
	<key>GCM_SENDER_ID</key>
	<string>866150771085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientsstage</string>
	<key>PROJECT_ID</key>
	<string>clientstage-58124</string>
	<key>STORAGE_BUCKET</key>
	<string>clientstage-58124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866150771085:ios:3900b8ed7016de4f9bf5c4</string>
</dict>
</plist>